# Gitignore for the master thesis repository
# Ignore build files and directories
/build/
/dist/
*.log
*.aux
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf
*.ps
*.dvi
# complete dir P1-main
P1-main/